Result Skip Results Iframe
body {
    margin: 0;
    color: #6a6f8c;
    background: #a29bfe;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .9);
    text-align: center;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: white;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group .label {
    color: #ffeaa7;
    font-size: 17px;
}

.group {
    color: #ffeaa7;
    font-size: 14px;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(40, 57, 101, .9);
    color: #dfe6e9;
    font-size: 50px;
}

#erreur {
    text-align: center;
    color: #ff7675;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 1px rgba(40, 57, 101, .9);
    font-size: 20px;
}